@import '../../../base.scss';

:host {
  flex: 1 1 auto;
}

label[for="search"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

input {
  padding-top: 0;
  padding-bottom: px2rem(7px);
  margin-bottom: px2rem(5px);
  letter-spacing: px2rem(0.8px);
  width: 100%;
}

@media (min-width: $md-br) {
  input {
    padding-left: px2rem(16px);
    width: 90%;
    margin-right: px2rem(16px);
  }
}
