@import '../../base.scss';

.app-header {
  display: block;
  border-top: 1px solid #ffdccc;
  padding-top: px2rem(24px);
  background-color: white;
  padding-bottom: 14px;
  border-bottom: 1px solid #ffdbcb;
}

.header-bottom-border {
  display: block;
  border-top: 1px solid #ff7839;
  background-color: #ff9655;
  border-bottom: 1px solid #938b7c
}

img {
  width: px2rem(391px);
  height: px2rem(42px);
  max-width: 100%;
}



