@import '../../../base.scss';

.sort-panel {
  padding: px2rem(5px) 0 px2rem(5px) 0;
  text-shadow: 0 0 px2rem(1px) $default-shadow-color;
  margin-top: px2rem(16px);
}

.sort-item {
  font-size: px2rem(16px);
  text-shadow: 0 0 px2rem(1px) $default-shadow-color;
  text-transform: uppercase;
  border: 2px solid $default-border-color;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -2px;
  flex: 1 1 auto;
  background-color: white;
  font-family: inherit;
}

.sort-item:focus {
  background-color: $primary-color;
  color: white;
}


.desc {
  font-weight: 700;
  margin-right: px2rem(12px);
  font-size: px2rem(14px);
  line-height: px2rem(32px);
  min-width: px2rem(48px);
  flex: 1 1 auto;
  display: none;
}

@media (min-width: $sm-br) {
  .desc {
    display: block;
  }
}

@media (min-width: $md-br) {
  .sort-panel {
    margin-top: 0;
  }
  .sort-item {
    flex: 0 0 auto;
    padding: 0 px2rem(9px) 0 px2rem(9px);
  }
}

@media (min-width: $lg-br) {
}

@media (min-width: $xl-br) {
  .sort-item {
    flex: 0 0 auto;
    padding: 0 px2rem(18px) 0 px2rem(18px);
  }
  .desc {
    margin-right: px2rem(24px);
  }
}




/* sort arrows */
.arrow-up {
  width: 0;
  height: 0;
  border-left: px2rem(6px) solid transparent;
  border-right: px2rem(6px) solid transparent;
  border-bottom: px2rem(6px) solid $default-shadow-color;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: px2rem(6px) solid transparent;
  border-right: px2rem(6px) solid transparent;
  border-top: px2rem(6px) solid $default-shadow-color;
}

.sort-item:focus .arrow-up {
  border-bottom-color: white;
}

.sort-item:focus .arrow-down {
  border-top-color: white;
}

.sort-indicator {
  margin-left: px2rem(8px);
}
