<div class="d-flex sort-panel">
  <div class="desc">
    Sort by
  </div>
  <button
    *ngFor="let property of propertiesMap | keyvalue: sortItemsOrder"
    (click)="selectProperty(property)"
    [ngClass]="{
      active: active && property.key === active,
      ascending: ascending === true
    }"
    class="sort-item"
  >
    <div>{{ property.value }}</div>
    <div *ngIf="active && property.key === active && !ascending" class="arrow-down sort-indicator"></div>
    <div *ngIf="active && property.key === active && ascending" class="arrow-up sort-indicator"></div>
  </button>
</div>
