@import '../../../base.scss';

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 50;
}

.modal {
  position: fixed;
  top: 10vh;
  left: 50%;
  width: 80%;
  transform: translate(-50%, 0);
  z-index: 100;
  box-shadow: 0 px2rem(2px) px2rem(8px) rgba(0, 0, 0, 0.25);
  max-height: 80vh;
  animation: modalEnter 0.3s ease-out;
  display: flex;
  flex-direction: column;
  background-color: white;
}

@media(min-width: $md-br) {
  .modal {
    width: 60%;
  }
}

@keyframes modalEnter {
  from {top: -100vh;}
  to {top: 10vh;}
}

.modal-header, .modal-body, .modal-footer {
  padding-left: px2rem(16px);
  padding-right: px2rem(16px);
  padding-top: px2rem(12px);
  padding-bottom: px2rem(12px);
}

.modal-header, .modal-footer {
  flex: 0 0 auto;
  text-align: right;
}

.modal-body {
  flex: 1 1 auto;
  overflow: auto;
}

.modal-header .title {
  font-size: px2rem(20px);
  text-align: center;
  margin: auto;
}

.modal-footer {
  border-top: 1px solid $default-border-color;
}

.modal-footer button {
  padding-left: px2rem(32px);
  padding-right: px2rem(32px);
}

@media(min-width: $md-br) {
  .modal-footer button {
    padding-left: px2rem(64px);
    padding-right: px2rem(64px);
  }
}

.modal-footer button:not(:first-child) {
  margin-left: px2rem(16px);
}

