<div class="backdrop" (click)="cancel()"></div>
<div role="dialog" class="modal">
  <div class="modal-header">
    <div class="title">{{ title }}</div>
  </div>
  <div class="modal-body">
    <span *ngIf="message">{{ message }}</span>
    <ng-content></ng-content>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary confirm" (click)="confirm()" role="button">
      {{ confirmAction ? confirmAction : "Ok" }}
    </button>
    <button
      class="btn btn-outline-default cancel"
      (click)="cancel()"
      role="button"
    >
      {{ cancelAction ? cancelAction : "Cancel" }}
    </button>
  </div>
</div>
