@import '../../base.scss';

@media (min-width: $lg-br) {
  .app-transfer {
    width: px2rem(320px);
  }
}


.form-group#amount {
  padding-top: px2rem(5px);
}

.row {
  display: flex;
}

@media (orientation: portrait) {
  .row {
    display: block;
  }
}

.modal-group {
  margin: px2rem(8px);
  padding: px2rem(8px);
  background: #eeeeee;
  border-radius: px2rem(8px);
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-group .label {
  font-size: px2rem(14px);
  color: #282420;
  font-weight: bold;
  display: block;
  font-family: inherit;
}

.modal-group .data {
  box-sizing: border-box;
  font-size: px2rem(16px);
  font-weight: 300;
  color: #373737;
  padding-left: px2rem(32px);
}


.message {
  padding: px2rem(8px) px2rem(8px);
  font-size: px2rem(18px);
  font-family: inherit;
  text-align: center;
  font-weight: 300;
}


