<div class="app-transfer app-card">
  <div class="title-bar">
    <img src="../../../assets/icons/arrows-transparent.png" alt="" />
    <div class="title">Make a Transfer</div>
  </div>
  <div class="body">
    <form [formGroup]="transferForm" (ngSubmit)="submitForm()" autocomplete="off">
      <div class="form-group">
        <label for="fromAccount">FROM ACCOUNT</label>
        <input
          type="text"
          id="fromAccount"
          formControlName="fromAccount"
        />
      </div>
      <div class="form-group">
        <label for="toAccount">TO ACCOUNT</label>
        <input
          type="text"
          id="toAccount"
          formControlName="toAccount"
          placeholder="Specify Recipient"
        />
        <div class="errors" *ngIf="transferForm.controls.toAccount.errors && transferForm.controls.toAccount.touched">
          <small *ngIf="transferForm.controls.toAccount.errors.required">Recipient is required</small>
        </div>
      </div>
      <div class="form-group" id="amount">
        <label for="amount">AMOUNT</label>
        <div class="amount-input-wrapper">
          <input
            type="text"
            id="amount"
            formControlName="amount"
            placeholder="Specify Amount"
            (keydown)="amountKeyDown($event)"
            class="money-amount"
            #amt
          />
          <span class="currency-symbol">$</span>
        </div>
        <div class="errors" *ngIf="transferForm.controls.amount.errors && transferForm.controls.amount.touched">
          <small *ngIf="transferForm.controls.amount.errors.required">Amount is required.</small>
          <small *ngIf="transferForm.controls.amount.errors.min">Amount should be greater than 0.</small>
          <small *ngIf="transferForm.controls.amount.errors.max">Amount exceeded transfer limit. Your current limit is {{transferLimit() | currency}}.</small>
          <small *ngIf="transferForm.controls.amount.errors.pattern">Specified value is not a valid number.</small>
        </div>
      </div>

      <div class="form-footer">
        <button
          type="submit"
          class="btn btn-primary d-block ml-auto"
          [disabled]="!transferForm.valid"
          role="button"
          >
          SUBMIT
        </button>
      </div>
    </form>
  </div>
</div>

<app-modal
  *ngIf="showConfirmationRequest"
  title="Transfer Confirmation Required"
  confirmAction="Transfer"
  cancelAction="Back"
  (onCancel)="cancelTransfer()"
  (onConfirm)="processTransfer()"
>
<div class="message">Please review details before proceeding</div>
<div class="row">
  <div class="modal-group">
    <div class="label">DATE</div>
    <div class="data">{{transactionDate | date }}</div>
  </div>
  <div class="modal-group">
    <div class="label">AMOUNT</div>
    <div class="data">{{transferForm.value.amount | currency}}</div>
  </div>
</div>
<div class="row">
  <div class="modal-group">
    <div class="label">FROM ACCOUNT</div>
    <div class="data">{{defaultValues.fromAccount}}</div>
  </div>
  <div class="modal-group">
    <div class="label">TO ACCOUNT</div>
    <div class="data">{{transferForm.value.toAccount}}</div>
  </div>
</div>
</app-modal>
