@import '../../base.scss';

:host {
  color: #373737;
  max-width: px2rem(860px);
  flex: 1 1 auto;
  margin-bottom: px2rem(40px);
  margin-left: px2rem(30px);
}

.title-bar {
  font-size: px2rem(20px);
  padding-top: px2rem(13px);
  padding-bottom: px2rem(13px);
}

.controls-panel {
  display: block;
  margin: px2rem(10px) 0 px2rem(10px) 0;
}

@media (min-width: $md-br) {
  .controls-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.history-items {
  margin-top: px2rem(22px);
}
