<div class="app-history app-card">
  <div class="title-bar">
    <img src="../../../assets/icons/briefcase-transparent.png" alt="" />
    <div class="title">Recent Transactions</div>
  </div>
  <div class="body">
    <div class="controls-panel">
      <app-history-filter (onChange)="filterChanged($event)"></app-history-filter>
      <app-history-sort
        [propertiesMap]="sortPropertiesMap"
        [active]="activeSortProperty"
        [ascending]="activeSortAscending"
        (onSelect)="sort($event)"
      ></app-history-sort>
    </div>
    <div class="history-items">
      <ng-container *ngIf="transactions.length > 0; else noTransactions">
        <app-history-item *ngFor="let transaction of transactions | transactionFilter:searchText | orderBy:orderByRecipe" [transaction]="transaction"></app-history-item>
      </ng-container>
      <ng-template #noTransactions>
        No transactions found.
      </ng-template>
    </div>
  </div>
</div>
