@import '../base.scss';

.app-top-level {
  background-image: url('../assets/bg-576p.webp');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  position: sticky;
}


.app-workarea {
  box-sizing: border-box;
  max-width: px2rem(1270px);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: px2rem(70px);
}

@media(orientation: landscape) {
  .app-top-level {
    background-image: url('../assets/bg-576l.webp');
  }
}

@media(min-width: $md-br) and (orientation: landscape) {
  .app-top-level {
    background-image: url('../assets/bg-768l.webp');
  }
}

@media(min-width: $md-br) and (orientation: portrait) {
  .app-top-level {
    background-image: url('../assets/bg-768p.webp');
  }
}

@media(min-width: $lg-br) and (orientation: landscape) {
  .app-top-level {
    background-image: url('../assets/bg-992l.webp');
  }
}

@media(min-width: $lg-br) and (orientation: portrait) {
  .app-top-level {
    background-image: url('../assets/bg-992p.webp');
  }
}

@media(min-width: $xl-br) and (orientation: landscape) {
  .app-top-level {
    background-image: url('../assets/bg-1200l.webp');
  }
}

@media(min-width: $xl-br) and (orientation: portrait) {
  .app-top-level {
    background-image: url('../assets/bg-1200p.webp');
  }
}

@media(min-width: $lg-br) {
  .app-windows {
    display: flex;
  }
}
