
<div class="app-top-level d-flex flex-column">
  <header>
    <app-header></app-header>
  </header>
  <main class="app-workarea full-width">
    <div class="app-windows">
      <app-transfer [account]="activeAccount" (onTransfer)="processTransfer($event)"></app-transfer>
      <app-history></app-history>
    </div>
  </main>
</div>

