@import '../../../base.scss';

.history-item {
  display: flex;
  text-shadow: 0 0 px2rem(2px) $default-shadow-color;
}

.data-row {
  display: flex;
  align-items: center;
  padding-top: px2rem(13px);
  padding-bottom: px2rem(13px);
  width: 100%;
  border-top: 2px solid $default-border-color;
  border-bottom: 2px solid $default-border-color;
  border-right: 2px solid $default-border-color;
  margin-top: px2rem(-2px);
}

:host:first-child .data-row {
  margin-top: 0;
}



img {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  width: px2rem(50px);
  height: px2rem(50px);
  display: block;
}

.logo.item {
  margin-right: 0;
}

@media (min-width: $sm-br) {
  img {
    display: block;
    width: px2rem(42px);
    height: px2rem(42px);
  }
}


.category-box {
  align-self: stretch;
  width: px2rem(10px);
}

.data-row>.date {
  width: px2rem(60px);
  display: none;
  font-size: px2rem(16px);
}

.transaction-type>.date {
  display: inline;
}

.info {
  margin-top: px2rem(-6px);
  flex: 1 1 auto;
  overflow: hidden;
  text-align: center;
}

.amount {
  font-size: px2rem(20px);
  font-weight: 700;
}

.data-row>.amount {
  text-align: right;
  display: none;
}

.info>.amount {
  text-align: center;
}


.merchant {
  font-size: px2rem(19px);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

}

.transaction-type {
  margin-top: px2rem(-5px);
  font-size: px2rem(14px);
  letter-spacing: px2rem(1px);
  text-overflow: ellipsis;
  overflow: hidden;
}

.info.item {
  margin-left: 0;
  margin-right: 0;
}

.item {
  margin-left: px2rem(10px);
  margin-right: px2rem(10px);
}

@media (min-width: $sm-br) {
  .info>.amount {
    display: none;
  }
  .data-row>.amount {
    display: block;
  }
  .info {
    text-align: left;
  }
  .info.item {
    margin-left: px2rem(10px);
    margin-right: px2rem(10px);
  }
}

@media (min-width: $md-br) {
  .item {
    margin-left: px2rem(20px);
    margin-right: px2rem(20px);
  }
  .logo.item {
    margin-right: px2rem(20px);
  }

  .info {
    width: auto;
  }

  .data-row>.date {
    display: block;
  }
  .transaction-type>.date {
    display: none;
  }

}


