<div class="history-item">
  <div class="category-box" [style.background]="transaction.categoryCode"></div>
  <div class="data-row">
    <div class="date item">{{transaction.transactionDate | date : DATE_FORMAT}}</div>
    <div class="logo item"><img [src]="transaction.merchantLogo" alt=""></div>

    <div class="info item">
      <div class="amount">
        {{transaction.amount | currency }}
      </div>
      <div class="merchant">
        {{transaction.merchant}}
      </div>
      <div class="transaction-type">
        {{transaction.transactionType}}<span class="date">, {{transaction.transactionDate | date : DATE_FORMAT}}</span>
      </div>
    </div>
    <div class="amount item">{{transaction.amount | currency }}</div>
  </div>
</div>
