

$primary-color: #ee7033;
$primary-color-highlight:lighten($primary-color, 10%);
$primary-color-disabled:lighten($primary-color, 20%);
$secondary-color: #0c8397;
$secondary-color-highlight:lighten($secondary-color, 10%);
$secondary-color-disabled:lighten($secondary-color, 65%);
$default-color: #bbbbbb;
$default-color-highlight:lighten($default-color, 10%);
$default-color-disabled:lighten($default-color, 25%);
$danger-color: red;
$danger-color-disabled:lighten($danger-color, 45%);
$default-border-color: #cccccc;
$default-shadow-color: #999999;

@function px2rem($size) {
  @return $size / 16px * 1rem;
}

$sm-br: px2rem(576px);
$md-br: px2rem(768px);
$lg-br: px2rem(992px);
$xl-br: px2rem(1200px);

