/* You can add global styles to this file, and also import other style files */
@import "./base.scss";

body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
  min-width: px2rem(360px);
}

/* mouse pointers */
button, *[role=button] {
  cursor: pointer;
}

*:disabled {
  cursor: not-allowed;
}

/* borders */
.border {
  border: 1px solid grey;
}

/* buttons */
button {
  outline: none;
  border: none;
  text-transform: uppercase;
}

.btn {
  border-radius: px2rem(6px);
  font-weight: 400;
  font-size: px2rem(15px);
  padding-left: px2rem(72px);
  padding-right: px2rem(72px);
  padding-top: px2rem(12px);
  padding-bottom: px2rem(12px);
}

.btn-primary {
  background-color: $primary-color;
  color: white;
}

.btn-primary:disabled {
  background-color: $primary-color-disabled;
}

.btn-primary:not(:disabled):hover, .btn-primary:focus {
  background-color: $primary-color-highlight;
}

.btn-default {
  background-color: $default-color;
  color: white;
}


.btn-default:not(:disabled):hover, .btn-default:focus {
  background-color: $default-color-highlight;
}

.btn-outline-default {
  background-color: white;
  color: $default-color;
  border: 1px solid $default-color;
}

.btn-outline-default:not(:disabled):hover, .btn-outline-default:focus {
  background-color: $default-color-highlight;
  color: white;
}
/* forms */
.form-group {
  margin-top: px2rem(18px);
  margin-bottom: px2rem(16px);
}

.form-group label {
  font-size: px2rem(14px);
  color: #282420;
  font-weight: 700;
  display: block;
  font-family: inherit;
}

input {
  box-sizing: border-box;
  font-size: px2rem(17px);
  font-weight: 300;
  padding-top: px2rem(7px);
  padding-bottom: px2rem(3px);
  border-bottom: 2px solid #d6d2ce;
  color: #7b7772;
  width: 100%;
}

input.ng-touched.ng-invalid {
  border-color: $danger-color;
  color: $danger-color;
}

.form-group .errors {
  color: $danger-color;
  font-weight: 400;
}

input.ng-touched.ng-invalid::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $danger-color;
  opacity: 1; /* Firefox */
}

input.ng-touched.ng-invalid:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $danger-color;
}

input.ng-touched.ng-invalid::-ms-input-placeholder { /* Microsoft Edge */
  color: $danger-color;
}

input.money-amount {
  padding-left: px2rem(16px);
}

.amount-input-wrapper {
  position: relative;
}

.amount-input-wrapper > .currency-symbol {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 50%;
  pointer-events: none;
  width: px2rem(16px);
  text-align: center;
  font-style: normal;
  color: #7b7772;
  font: inherit;
  font-weight: 300;
  font-size: px2rem(17px);
}

.form-footer {
  margin-top: px2rem(48px);
  margin-bottom: px2rem(18px);
  text-align: right;
}

.form-footer button:not(:first-child) {
  margin-left: px2rem(16px);
}




input[type=number], input[type=text], input[type=search] {
  display: block;
  border: none;
  outline: none;
  border-bottom: 2px solid #d6d2ce;
  font-family: inherit;
  color: #7b7772;
}

/* remove controls from inputs of type number */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



/* display */
.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

/* flex */
.flex-row {
  flex-direction: row
}

.flex-column {
  flex-direction: column
}

.justify-content-start {
  justify-content: start;
}
.justify-content-end {
  justify-content: end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}

.align-items-start {
  align-items: start;
}
.align-items-end {
  align-items: end;
}
.align-items-center {
  align-items: center;
}
.align-items-baseline {
  align-items: baseline;
}
.align-items-stretch {
  align-items: stretch;
}

/* margins */

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.app-card {
  box-shadow: 0 0 px2rem(6px) #888888;
  background-color: white;
  margin: auto;
  margin-bottom: px2rem(60px);
}

.full-width, .app-card {
  width: 95%;
}

.full-width {
  box-sizing: border-box;
  max-width: px2rem(1270px);
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $sm-br) {
  .full-width {
    padding-left: px2rem(30px);
    padding-right: px2rem(30px);
  }
  .app-card, .header-content {
    width: 90%;
  }

}

@media (min-width: $lg-br) {
  .app-card, .header-content {
    width: auto;
  }
}

.app-card .title-bar, .modal-header {
  border: 1px solid #2f95a6;
  border-bottom-color: #2690a2;
  background-color: $secondary-color;
  color: white;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  letter-spacing: px2rem(0.3px);
  padding-left: px2rem(20px);
  padding-right: px2rem(20px);
  padding-top: px2rem(9px);
  padding-bottom: px2rem(5px);
  font-size: px2rem(18px);
  text-align: center;
}

.app-card .title {
  width: 100%;
}

.app-card .title-bar img {
  background: transparent;
  padding-top: px2rem(3px);
  height: 1.2em;
}

.app-card .body {
  padding-left: px2rem(20px);
  padding-right: px2rem(20px);
  padding-top: px2rem(14px);
  padding-bottom: px2rem(14px);
}

